.project-card {
    cursor: pointer;
}

.project-card-animation {
    transition: transform .2s ease-in-out;
}

.project-card-animation:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
}