@import '../../../constants/CSSColor.css';


.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

@supports (backdrop-filter: saturate(180%) blur(20px)) or (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
    .navbarBlur {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: var(--black-alpha-80);
    }
}

@supports (not(backdrop-filter: saturate(180%) blur(20px))) and (not(-webkit-backdrop-filter: saturate(180%) blur(20px))) {
    .navbarBlur {
        background-color: rgba(45, 45, 45, 0.98);
    }
}