
.cursorPointer {
    cursor: pointer;
}

.btnHover {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.btnHover:hover {
    opacity: 0.6;
}