
.text {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.stdFont {
    font-family: 'Open Sans', 'Roboto', '-apple-system', 'sans-serif';
}

.btnFont {
    font-family: 'Helvetica Neue', 'Roboto', '-apple-system', 'sans-serif';
}

.hyperlink {
    color: inherit;
    text-decoration: none;
}